<mat-card class="user-detail-header">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="editUserDetails()">Edit</button>
    </mat-menu>
    <div class="user-details">
        <img src="assets/img/profile.png" alt="">
        <div class="user-info">
            <h2>{{user.firstname}} {{user.lastname}}</h2>
            <span>{{user.mail}}</span>
        </div>
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <button mat-icon-button [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>
     
      <mat-card-content>
        <span>{{user.street}}</span> <br>
        <span>{{user.zipcode}} {{user.city}}</span>
      </mat-card-content>
</mat-card>

