<button (click)="openDialog()" mat-fab color="primary"  matTooltip="Add user" [matTooltipPosition]="above">
    <mat-icon>add</mat-icon>
</button>
<mat-card>
    <mat-card-content>
        <table class="full-width">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td> {{user.mail}}</td>
                <td>{{user.city}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>



  